Download from SDSSDR18 all spectra from the match

In [21]:
import os
import time
import numpy as np
import pandas as pd
from astroquery.sdss import SDSS
from astropy.io import fits
from astropy.table import Table
from astroquery.gaia import Gaia

In [17]:
crossmatch = pd.read_csv('/home/thara/Big/gaia_results_all_batches.csv')
crossmatch

                  SOURCE_ID  original_ext_source_id
0       3647851003078664832     1237648703516442877
1       3661958424457651712     1237648704049840359
2       3662377883848390912     1237648704586973290
3       4419851136648786304     1237648705670152326
4       4407884120813978752     1237648705678213667
...                     ...                     ...
133828  1779912581508627072     1237680273108960003
133829   309194386402373120     1237680285996155390
133830  1883704073988238336     1237680303715582376
133831  2866659811294043904     1237680308016841309
133832  1799404173890542080     1237680327333381385

[133833 rows x 2 columns]

In [16]:
# Initialize an empty DataFrame to store results
spec_df = pd.DataFrame()

# Define a small batch size for querying
batch_size = 50  # Small batch size to avoid exceeding query limits
max_retries = 3  # Number of retries for failed batches

# Process bestObjIDs in small batches
best_obj_ids = crossmatch['original_ext_source_id'].unique()
for batch_index, i in enumerate(range(0, len(best_obj_ids), batch_size), start=1):
    batch = best_obj_ids[i:i + batch_size]
    batch_ids = ','.join(map(str, batch))  # Properly format IDs
    
    query = f"""
    SELECT plate, mjd, fiberid, bestObjID
    FROM SpecObj
    WHERE bestObjID IN ({batch_ids})
    """
    
    retries = 0
    success = False
    
    while retries < max_retries and not success:
        try:
            # Query the SDSS database
            result = SDSS.query_sql(query)
            if result is not None:
                # Append results to the DataFrame
                spec_df = pd.concat([spec_df, result.to_pandas()], ignore_index=True)
            
            # Print progress every 100 batches
            if batch_index % 100 == 0 or batch_index == 1:
                print(f"Processed batch {batch_index}/{len(best_obj_ids) // batch_size + 1}.")
            
            success = True  # Mark this batch as successful
        except Exception as e:
            retries += 1
            print(f"Error processing batch {i} to {i + len(batch)}: {e}. Retrying ({retries}/{max_retries})...")
            time.sleep(2)  # Add a short delay before retrying

    if not success:
        print(f"Batch {i} to {i + len(batch)} failed after {max_retries} retries.")

# Save the results to a file
spec_df.to_csv("specobj_results.csv", index=False)
print("Query completed. Results saved to 'specobj_results.csv'.")

Processed batch 1/2676.
Processed batch 100/2676.
Processed batch 200/2676.
Processed batch 300/2676.
Processed batch 400/2676.
Processed batch 500/2676.
Processed batch 600/2676.
Processed batch 700/2676.
Processed batch 800/2676.
Processed batch 900/2676.
Processed batch 1000/2676.
Processed batch 1100/2676.
Processed batch 1200/2676.
Processed batch 1300/2676.
Processed batch 1400/2676.
Processed batch 1500/2676.
Processed batch 1600/2676.
Processed batch 1700/2676.
Processed batch 1800/2676.
Processed batch 1900/2676.
Processed batch 2000/2676.
Processed batch 2100/2676.
Processed batch 2200/2676.
Processed batch 2300/2676.
Processed batch 2400/2676.
Processed batch 2500/2676.
Processed batch 2600/2676.
Query completed. Results saved to 'specobj_results.csv'.

In [14]:
metadata_df = pd.read_csv('/home/thara/Big/specobj_results.csv')
metadata_df

        plate    mjd  fiberid            bestObjID
0         303  51615      205  1237648703516442877
1         299  51671      179  1237648704049840359
2         300  51943      309  1237648704586973290
3         311  51665      443  1237648705670152326
4         364  52000      380  1237648705678213667
...       ...    ...      ...                  ...
133789   7572  56944      710  1237680273108960003
133790   6265  56248      512  1237680285996155390
133791   6295  56536      434  1237680303715582376
133792   6515  56536      932  1237680308016841309
133793   5960  56097      436  1237680327333381385

[133794 rows x 4 columns]

In [18]:
# Check for duplicates in original_ext_source_id
duplicate_ids = crossmatch[crossmatch.duplicated(subset='original_ext_source_id', keep=False)]

if duplicate_ids.empty:
    print("All IDs in 'original_ext_source_id' are unique.")
else:
    print(f"Found {len(duplicate_ids)} duplicate entries in 'original_ext_source_id'.")
    print("Duplicate entries:")
    print(duplicate_ids)

Found 77 duplicate entries in 'original_ext_source_id'.
Duplicate entries:
                  SOURCE_ID  original_ext_source_id
91       921068247868697728     1237653587407536295
92       921068243577055232     1237653587407536295
349      706252331821810944     1237660961862189211
350      706252331823294464     1237660961862189211
406     1541291590181192320     1237661852007727118
...                     ...                     ...
131800   147929260770079872     1237660558135656804
132095   148055807685252352     1237660559209332868
132096   148055807686085120     1237660559209332868
132667  3706417688227261568     1237661970652397647
132668  3706417692523377408     1237661970652397647

[77 rows x 2 columns]

The `Download.py` script should be used to download the spectra from SDSS.

In [3]:
# Define directories
fits_dir = "/home/thara/Big/Spectra"  # Directory with FITS files
parquet_dir = "/home/thara/Big/Spectra_Parquet"  # Directory for Parquet files
os.makedirs(parquet_dir, exist_ok=True)  # Ensure the Parquet directory exists

# Load the specObj list
spectra_info = '/home/thara/Big/specobj_results.csv'  # Replace with your file

# Define batch size and retry settings
batch_size = 1000  # Number of spectra to process in one batch
max_retries = 3  # Number of retries for failed downloads

# Process existing FITS files
print("Processing existing FITS files...")
for fits_file in os.listdir(fits_dir):
    if fits_file.endswith(".fits"):
        # Extract plate, mjd, and fiberid from the filename
        file_parts = fits_file.split("_")
        plate = file_parts[1][5:]
        mjd = file_parts[2][3:]
        fiberid = file_parts[3][5:].replace(".fits", "")
        
        # Define Parquet filename
        parquet_file = os.path.join(parquet_dir, f"spectrum_plate{plate}_mjd{mjd}_fiber{fiberid}.parquet")
        
        # Skip if Parquet file already exists
        if os.path.exists(parquet_file):
            continue
        
        # Open FITS file and extract data
        fits_path = os.path.join(fits_dir, fits_file)
        try:
            with fits.open(fits_path) as hdul:
                data = Table(hdul[1].data)
                
                # Convert to native byte order
                flux = np.array(data["flux"]).byteswap().newbyteorder()
                loglam = np.array(data["loglam"]).byteswap().newbyteorder()
            
            # Save to Parquet
            df = pd.DataFrame({"loglam": loglam, "flux": flux})
            df.to_parquet(parquet_file, index=False)
            
            # Delete the FITS file
            os.remove(fits_path)
            #print(f"Processed and deleted: {fits_file}")
        except Exception as e:
            print(f"Error processing {fits_file}: {e}")
print("Finished processing existing FITS files.")

Processing existing FITS files...
Finished processing existing FITS files.

In [ ]:
# Define directories
parquet_dir = "/home/thara/Big/Spectra_Parquet"  # Directory for Parquet files

# Load the DataFrame with bestObjID, plate, mjd, and fiberid
metadata_df = pd.read_csv('/home/thara/Big/specobj_results.csv')  # Replace with your metadata file

# Initialize a list to store results
results = []

# Process each Parquet file
for parquet_file in os.listdir(parquet_dir):
    if parquet_file.endswith(".parquet"):
        # Extract plate, mjd, and fiberid from the filename
        file_parts = parquet_file.split("_")
        plate = int(file_parts[1][5:])
        mjd = int(file_parts[2][3:])
        fiberid = int(file_parts[3][5:].replace(".parquet", ""))
        
        # Load the Parquet file
        parquet_path = os.path.join(parquet_dir, parquet_file)
        try:
            data = pd.read_parquet(parquet_path)
            
            # Convert loglam to lam
            data['lam'] = 10 ** data['loglam']
            
            # Define wavelength ranges
            range1 = (3850, 6800)  # First range
            range2 = (6400, 9150)  # Second range
            
            # Calculate integrated flux for each range
            mask1 = (data['lam'] >= range1[0]) & (data['lam'] <= range1[1])
            mask2 = (data['lam'] >= range2[0]) & (data['lam'] <= range2[1])
            
            flux1 = np.trapz(data.loc[mask1, 'flux'], data.loc[mask1, 'lam'])
            flux2 = np.trapz(data.loc[mask2, 'flux'], data.loc[mask2, 'lam'])
            
            # Calculate the flux ratio
            flux_ratio = flux1 / flux2 if flux2 != 0 else np.nan
            
            # Find the bestObjID from metadata
            matched_row = metadata_df[
                (metadata_df['plate'] == plate) & 
                (metadata_df['mjd'] == mjd) & 
                (metadata_df['fiberid'] == fiberid)
            ]
            
            if not matched_row.empty:
                bestObjID = matched_row['bestObjID'].values[0]
                results.append({'bestObjID': bestObjID, 'plate': plate, 'mjd': mjd, 'fiberid': fiberid, 'flux_ratio': flux_ratio})
            else:
                print(f"No match found for Parquet file: {parquet_file}")
        except Exception as e:
            print(f"Error processing {parquet_file}: {e}")

# Create a DataFrame with the results
results_df = pd.DataFrame(results)

# Save the results to a CSV file
results_df.to_csv("/home/thara/Big/flux_ratios.csv", index=False)

print("Flux ratios calculated and saved to 'flux_ratios.csv'.")

Flux ratios calculated and saved to 'flux_ratios.csv'.

In [15]:
results_df

                  bestObjID  plate    mjd  fiberid  flux_ratio
0       1237663784201486401   7868  57006      816    2.177181
1       1237665548902859021   2202  53566      290    2.016669
2       1237654380901957961   7512  56777      134    1.728434
3       1237655693011845153    918  52404      515    1.013675
4       1237667322185580645   2236  53729        1    0.747908
...                     ...    ...    ...      ...         ...
133789  1237680273108960003   7572  56944      710    1.510391
133790  1237680285996155390   6265  56248      512    1.797892
133791  1237680303715582376   6295  56536      434    0.798917
133792  1237680308016841309   6515  56536      932    1.233320
133793  1237680327333381385   5960  56097      436    1.524748

[133794 rows x 5 columns]

In [19]:
# Assuming `duplicate_ids` contains the duplicate 'original_ext_source_id'
duplicate_ids_set = set(duplicate_ids['original_ext_source_id'])

# Remove rows from results_df where 'bestObjID' is in duplicate_ids
filtered_results_df = results_df[~results_df['bestObjID'].isin(duplicate_ids_set)]

# Check the number of rows before and after filtering
print(f"Original number of rows: {len(results_df)}")
print(f"Filtered number of rows: {len(filtered_results_df)}")

Original number of rows: 133794
Filtered number of rows: 133756

In [20]:
# Merge the two DataFrames on 'bestObjID' (filtered_results_df) and 'original_ext_source_id' (crossmatch)
merged_results_df = filtered_results_df.merge(
    crossmatch[['SOURCE_ID', 'original_ext_source_id']],
    left_on='bestObjID', 
    right_on='original_ext_source_id',
    how='left'  # Use 'left' to retain all rows in filtered_results_df
)

# Drop the 'original_ext_source_id' column if it's no longer needed
merged_results_df = merged_results_df.drop(columns=['original_ext_source_id'])
merged_results_df

,bestObjID,plate,mjd,fiberid,flux_ratio,SOURCE_ID
0,1237663784201486401,7868,57006,816,2.177181,2543193557806316800
1,1237665548902859021,2202,53566,290,2.016669,4463606678617356800
2,1237654380901957961,7512,56777,134,1.728434,1014204471947028992
3,1237655693011845153,918,52404,515,1.013675,3652568217199181440
4,1237667322185580645,2236,53729,1,0.747908,3961435288437544320
...,...,...,...,...,...,...
133751,1237680273108960003,7572,56944,710,1.510391,1779912581508627072
133752,1237680285996155390,6265,56248,512,1.797892,309194386402373120
133753,1237680303715582376,6295,56536,434,0.798917,1883704073988238336
133754,1237680308016841309,6515,56536,932,1.233320,2866659811294043904
133755,1237680327333381385,5960,56097,436,1.524748,1799404173890542080

Now we will proceed to download the GAIA data.

In [22]:
# Configuration
batch_size = 1000  # Number of IDs per batch
output_file = "/home/thara/Big/gaia_phot_flux_results.csv"  # Output file for results
failed_batches_file = "/home/thara/Big/failed_batches.txt"  # Log file for failed batches
max_retries = 3  # Number of retries for failed batches

# Load the DataFrame containing SOURCE_ID
source_ids = merged_results_df['SOURCE_ID'].dropna().unique()

# Main batch processing loop
for i in range(0, len(source_ids), batch_size):
    # Create the batch query
    batch_ids = "','".join(map(str, source_ids[i:i + batch_size]))
    
    query = f"""
    SELECT source_id, phot_bp_mean_flux, phot_rp_mean_flux
    FROM gaiadr3.gaia_source
    WHERE source_id IN ('{batch_ids}')
    """
    
    retries = 0
    success = False

    while retries < max_retries and not success:
        try:
            print(f"Processing batch {i // batch_size + 1} ({i} to {i + batch_size} IDs)... Attempt {retries + 1}")
            job = Gaia.launch_job(query)
            batch_results = job.get_results().to_pandas()
            print(f"Batch {i // batch_size + 1} returned {len(batch_results)} rows.")
            
            # Reload existing results
            existing_results = pd.read_csv(output_file) if os.path.exists(output_file) else pd.DataFrame()
            
            # Combine results and remove duplicates
            combined_results = pd.concat([existing_results, batch_results], ignore_index=True).drop_duplicates()
            
            # Save the updated results
            combined_results.to_csv(output_file, index=False)
            print(f"Batch {i // batch_size + 1} completed. Total rows saved: {len(combined_results)}")
            
            success = True  # Mark batch as successful
        except Exception as e:
            retries += 1
            print(f"Error processing batch {i} to {i + batch_size}: {e}")
    
    if not success:
        # Log failed batch to file
        with open(failed_batches_file, "a") as log_file:
            log_file.write(f"{i},{i + batch_size}\n")
        print(f"Batch {i} to {i + batch_size} failed after {max_retries} retries. Moving to the next batch.")

# Reprocess failed batches
print("Reprocessing failed batches...")
try:
    with open(failed_batches_file, "r") as log_file:
        failed_batches = log_file.readlines()
except FileNotFoundError:
    failed_batches = []

for batch_range in failed_batches:
    start, end = map(int, batch_range.strip().split(","))
    batch_ids = "','".join(map(str, source_ids[start:end]))
    query = f"""
    SELECT source_id, phot_bp_mean_flux, phot_rp_mean_flux
    FROM gaiadr3.gaia_source
    WHERE source_id IN ('{batch_ids}')
    """
    try:
        print(f"Reprocessing batch {start} to {end}...")
        job = Gaia.launch_job(query)
        batch_results = job.get_results().to_pandas()
        
        # Reload existing results
        existing_results = pd.read_csv(output_file) if os.path.exists(output_file) else pd.DataFrame()
        
        # Combine results and remove duplicates
        combined_results = pd.concat([existing_results, batch_results], ignore_index=True).drop_duplicates()
        
        # Save the updated results
        combined_results.to_csv(output_file, index=False)
        print(f"Batch {start} to {end} reprocessed successfully. Total rows saved: {len(combined_results)}")
        
        # Remove successfully reprocessed batch from log
        with open(failed_batches_file, "r") as log_file:
            lines = log_file.readlines()
        with open(failed_batches_file, "w") as log_file:
            log_file.writelines(line for line in lines if line.strip() != f"{start},{end}")
    except Exception as e:
        print(f"Failed to reprocess batch {start} to {end}: {e}")

# Final message
print("All processing completed.")

Processing batch 1 (0 to 1000 IDs)... Attempt 1
Batch 1 returned 1000 rows.
Batch 1 completed. Total rows saved: 1000
Processing batch 2 (1000 to 2000 IDs)... Attempt 1
Batch 2 returned 1000 rows.
Batch 2 completed. Total rows saved: 2000
Processing batch 3 (2000 to 3000 IDs)... Attempt 1
Batch 3 returned 1000 rows.
Batch 3 completed. Total rows saved: 3000
Processing batch 4 (3000 to 4000 IDs)... Attempt 1
Batch 4 returned 1000 rows.
Batch 4 completed. Total rows saved: 4000
Processing batch 5 (4000 to 5000 IDs)... Attempt 1
Batch 5 returned 1000 rows.
Batch 5 completed. Total rows saved: 5000
Processing batch 6 (5000 to 6000 IDs)... Attempt 1
Batch 6 returned 1000 rows.
Batch 6 completed. Total rows saved: 6000
Processing batch 7 (6000 to 7000 IDs)... Attempt 1
Batch 7 returned 1000 rows.
Batch 7 completed. Total rows saved: 7000
Processing batch 8 (7000 to 8000 IDs)... Attempt 1
Batch 8 returned 1000 rows.
Batch 8 completed. Total rows saved: 8000
Processing batch 9 (8000 to 9000 IDs)... Attempt 1
Batch 9 returned 1000 rows.
Batch 9 completed. Total rows saved: 9000
Processing batch 10 (9000 to 10000 IDs)... Attempt 1
Batch 10 returned 1000 rows.
Batch 10 completed. Total rows saved: 10000
Processing batch 11 (10000 to 11000 IDs)... Attempt 1
Batch 11 returned 1000 rows.
Batch 11 completed. Total rows saved: 11000
Processing batch 12 (11000 to 12000 IDs)... Attempt 1
Batch 12 returned 1000 rows.
Batch 12 completed. Total rows saved: 12000
Processing batch 13 (12000 to 13000 IDs)... Attempt 1
Batch 13 returned 1000 rows.
Batch 13 completed. Total rows saved: 13000
Processing batch 14 (13000 to 14000 IDs)... Attempt 1
Batch 14 returned 1000 rows.
Batch 14 completed. Total rows saved: 14000
Processing batch 15 (14000 to 15000 IDs)... Attempt 1
Batch 15 returned 1000 rows.
Batch 15 completed. Total rows saved: 15000
Processing batch 16 (15000 to 16000 IDs)... Attempt 1
Batch 16 returned 1000 rows.
Batch 16 completed. Total rows saved: 16000
Processing batch 17 (16000 to 17000 IDs)... Attempt 1
Batch 17 returned 1000 rows.
Batch 17 completed. Total rows saved: 17000
Processing batch 18 (17000 to 18000 IDs)... Attempt 1
Batch 18 returned 1000 rows.
Batch 18 completed. Total rows saved: 18000
Processing batch 19 (18000 to 19000 IDs)... Attempt 1
Batch 19 returned 1000 rows.
Batch 19 completed. Total rows saved: 19000
Processing batch 20 (19000 to 20000 IDs)... Attempt 1
Batch 20 returned 1000 rows.
Batch 20 completed. Total rows saved: 20000
Processing batch 21 (20000 to 21000 IDs)... Attempt 1
Batch 21 returned 1000 rows.
Batch 21 completed. Total rows saved: 21000
Processing batch 22 (21000 to 22000 IDs)... Attempt 1
Batch 22 returned 1000 rows.
Batch 22 completed. Total rows saved: 22000
Processing batch 23 (22000 to 23000 IDs)... Attempt 1
Batch 23 returned 1000 rows.
Batch 23 completed. Total rows saved: 23000
Processing batch 24 (23000 to 24000 IDs)... Attempt 1
Batch 24 returned 1000 rows.
Batch 24 completed. Total rows saved: 24000
Processing batch 25 (24000 to 25000 IDs)... Attempt 1
Batch 25 returned 1000 rows.
Batch 25 completed. Total rows saved: 25000
Processing batch 26 (25000 to 26000 IDs)... Attempt 1
Batch 26 returned 1000 rows.
Batch 26 completed. Total rows saved: 26000
Processing batch 27 (26000 to 27000 IDs)... Attempt 1
Batch 27 returned 1000 rows.
Batch 27 completed. Total rows saved: 27000
Processing batch 28 (27000 to 28000 IDs)... Attempt 1
Batch 28 returned 1000 rows.
Batch 28 completed. Total rows saved: 28000
Processing batch 29 (28000 to 29000 IDs)... Attempt 1
Batch 29 returned 1000 rows.
Batch 29 completed. Total rows saved: 29000
Processing batch 30 (29000 to 30000 IDs)... Attempt 1
Batch 30 returned 1000 rows.
Batch 30 completed. Total rows saved: 30000
Processing batch 31 (30000 to 31000 IDs)... Attempt 1
Batch 31 returned 1000 rows.
Batch 31 completed. Total rows saved: 31000
Processing batch 32 (31000 to 32000 IDs)... Attempt 1
Batch 32 returned 1000 rows.
Batch 32 completed. Total rows saved: 32000
Processing batch 33 (32000 to 33000 IDs)... Attempt 1
Batch 33 returned 1000 rows.
Batch 33 completed. Total rows saved: 33000
Processing batch 34 (33000 to 34000 IDs)... Attempt 1
Batch 34 returned 1000 rows.
Batch 34 completed. Total rows saved: 34000
Processing batch 35 (34000 to 35000 IDs)... Attempt 1
Batch 35 returned 1000 rows.
Batch 35 completed. Total rows saved: 35000
Processing batch 36 (35000 to 36000 IDs)... Attempt 1
Batch 36 returned 1000 rows.
Batch 36 completed. Total rows saved: 36000
Processing batch 37 (36000 to 37000 IDs)... Attempt 1
Batch 37 returned 1000 rows.
Batch 37 completed. Total rows saved: 37000
Processing batch 38 (37000 to 38000 IDs)... Attempt 1
Batch 38 returned 1000 rows.
Batch 38 completed. Total rows saved: 38000
Processing batch 39 (38000 to 39000 IDs)... Attempt 1
Batch 39 returned 1000 rows.
Batch 39 completed. Total rows saved: 39000
Processing batch 40 (39000 to 40000 IDs)... Attempt 1
Batch 40 returned 1000 rows.
Batch 40 completed. Total rows saved: 40000
Processing batch 41 (40000 to 41000 IDs)... Attempt 1
Batch 41 returned 1000 rows.
Batch 41 completed. Total rows saved: 41000
Processing batch 42 (41000 to 42000 IDs)... Attempt 1
Batch 42 returned 1000 rows.
Batch 42 completed. Total rows saved: 42000
Processing batch 43 (42000 to 43000 IDs)... Attempt 1
Batch 43 returned 1000 rows.
Batch 43 completed. Total rows saved: 43000
Processing batch 44 (43000 to 44000 IDs)... Attempt 1
Batch 44 returned 1000 rows.
Batch 44 completed. Total rows saved: 44000
Processing batch 45 (44000 to 45000 IDs)... Attempt 1
Batch 45 returned 1000 rows.
Batch 45 completed. Total rows saved: 45000
Processing batch 46 (45000 to 46000 IDs)... Attempt 1
Batch 46 returned 1000 rows.
Batch 46 completed. Total rows saved: 46000
Processing batch 47 (46000 to 47000 IDs)... Attempt 1
Batch 47 returned 1000 rows.
Batch 47 completed. Total rows saved: 47000
Processing batch 48 (47000 to 48000 IDs)... Attempt 1
Batch 48 returned 1000 rows.
Batch 48 completed. Total rows saved: 48000
Processing batch 49 (48000 to 49000 IDs)... Attempt 1
Batch 49 returned 1000 rows.
Batch 49 completed. Total rows saved: 49000
Processing batch 50 (49000 to 50000 IDs)... Attempt 1
Batch 50 returned 1000 rows.
Batch 50 completed. Total rows saved: 50000
Processing batch 51 (50000 to 51000 IDs)... Attempt 1
Batch 51 returned 1000 rows.
Batch 51 completed. Total rows saved: 51000
Processing batch 52 (51000 to 52000 IDs)... Attempt 1
Batch 52 returned 1000 rows.
Batch 52 completed. Total rows saved: 52000
Processing batch 53 (52000 to 53000 IDs)... Attempt 1
Batch 53 returned 1000 rows.
Batch 53 completed. Total rows saved: 53000
Processing batch 54 (53000 to 54000 IDs)... Attempt 1
Batch 54 returned 1000 rows.
Batch 54 completed. Total rows saved: 54000
Processing batch 55 (54000 to 55000 IDs)... Attempt 1
Batch 55 returned 1000 rows.
Batch 55 completed. Total rows saved: 55000
Processing batch 56 (55000 to 56000 IDs)... Attempt 1
Batch 56 returned 1000 rows.
Batch 56 completed. Total rows saved: 56000
Processing batch 57 (56000 to 57000 IDs)... Attempt 1
Batch 57 returned 1000 rows.
Batch 57 completed. Total rows saved: 57000
Processing batch 58 (57000 to 58000 IDs)... Attempt 1
Batch 58 returned 1000 rows.
Batch 58 completed. Total rows saved: 58000
Processing batch 59 (58000 to 59000 IDs)... Attempt 1
Batch 59 returned 1000 rows.
Batch 59 completed. Total rows saved: 59000
Processing batch 60 (59000 to 60000 IDs)... Attempt 1
Batch 60 returned 1000 rows.
Batch 60 completed. Total rows saved: 60000
Processing batch 61 (60000 to 61000 IDs)... Attempt 1
Batch 61 returned 1000 rows.
Batch 61 completed. Total rows saved: 61000
Processing batch 62 (61000 to 62000 IDs)... Attempt 1
Batch 62 returned 1000 rows.
Batch 62 completed. Total rows saved: 62000
Processing batch 63 (62000 to 63000 IDs)... Attempt 1
Batch 63 returned 1000 rows.
Batch 63 completed. Total rows saved: 63000
Processing batch 64 (63000 to 64000 IDs)... Attempt 1
Batch 64 returned 1000 rows.
Batch 64 completed. Total rows saved: 64000
Processing batch 65 (64000 to 65000 IDs)... Attempt 1
Batch 65 returned 1000 rows.
Batch 65 completed. Total rows saved: 65000
Processing batch 66 (65000 to 66000 IDs)... Attempt 1
Batch 66 returned 1000 rows.
Batch 66 completed. Total rows saved: 66000
Processing batch 67 (66000 to 67000 IDs)... Attempt 1
Batch 67 returned 1000 rows.
Batch 67 completed. Total rows saved: 67000
Processing batch 68 (67000 to 68000 IDs)... Attempt 1
Batch 68 returned 1000 rows.
Batch 68 completed. Total rows saved: 68000
Processing batch 69 (68000 to 69000 IDs)... Attempt 1
Batch 69 returned 1000 rows.
Batch 69 completed. Total rows saved: 69000
Processing batch 70 (69000 to 70000 IDs)... Attempt 1
Batch 70 returned 1000 rows.
Batch 70 completed. Total rows saved: 70000
Processing batch 71 (70000 to 71000 IDs)... Attempt 1
Batch 71 returned 1000 rows.
Batch 71 completed. Total rows saved: 71000
Processing batch 72 (71000 to 72000 IDs)... Attempt 1
Batch 72 returned 1000 rows.
Batch 72 completed. Total rows saved: 72000
Processing batch 73 (72000 to 73000 IDs)... Attempt 1
Batch 73 returned 1000 rows.
Batch 73 completed. Total rows saved: 73000
Processing batch 74 (73000 to 74000 IDs)... Attempt 1
Batch 74 returned 1000 rows.
Batch 74 completed. Total rows saved: 74000
Processing batch 75 (74000 to 75000 IDs)... Attempt 1
Batch 75 returned 1000 rows.
Batch 75 completed. Total rows saved: 75000
Processing batch 76 (75000 to 76000 IDs)... Attempt 1
Batch 76 returned 1000 rows.
Batch 76 completed. Total rows saved: 76000
Processing batch 77 (76000 to 77000 IDs)... Attempt 1
Batch 77 returned 1000 rows.
Batch 77 completed. Total rows saved: 77000
Processing batch 78 (77000 to 78000 IDs)... Attempt 1
Batch 78 returned 1000 rows.
Batch 78 completed. Total rows saved: 78000
Processing batch 79 (78000 to 79000 IDs)... Attempt 1
Batch 79 returned 1000 rows.
Batch 79 completed. Total rows saved: 79000
Processing batch 80 (79000 to 80000 IDs)... Attempt 1
Batch 80 returned 1000 rows.
Batch 80 completed. Total rows saved: 80000
Processing batch 81 (80000 to 81000 IDs)... Attempt 1
Batch 81 returned 1000 rows.
Batch 81 completed. Total rows saved: 81000
Processing batch 82 (81000 to 82000 IDs)... Attempt 1
Batch 82 returned 1000 rows.
Batch 82 completed. Total rows saved: 82000
Processing batch 83 (82000 to 83000 IDs)... Attempt 1
Batch 83 returned 1000 rows.
Batch 83 completed. Total rows saved: 83000
Processing batch 84 (83000 to 84000 IDs)... Attempt 1
Batch 84 returned 1000 rows.
Batch 84 completed. Total rows saved: 84000
Processing batch 85 (84000 to 85000 IDs)... Attempt 1
Batch 85 returned 1000 rows.
Batch 85 completed. Total rows saved: 85000
Processing batch 86 (85000 to 86000 IDs)... Attempt 1
Batch 86 returned 1000 rows.
Batch 86 completed. Total rows saved: 86000
Processing batch 87 (86000 to 87000 IDs)... Attempt 1
Batch 87 returned 1000 rows.
Batch 87 completed. Total rows saved: 87000
Processing batch 88 (87000 to 88000 IDs)... Attempt 1
Batch 88 returned 1000 rows.
Batch 88 completed. Total rows saved: 88000
Processing batch 89 (88000 to 89000 IDs)... Attempt 1
Batch 89 returned 1000 rows.
Batch 89 completed. Total rows saved: 89000
Processing batch 90 (89000 to 90000 IDs)... Attempt 1
Batch 90 returned 1000 rows.
Batch 90 completed. Total rows saved: 90000
Processing batch 91 (90000 to 91000 IDs)... Attempt 1
Batch 91 returned 1000 rows.
Batch 91 completed. Total rows saved: 91000
Processing batch 92 (91000 to 92000 IDs)... Attempt 1
Batch 92 returned 1000 rows.
Batch 92 completed. Total rows saved: 92000
Processing batch 93 (92000 to 93000 IDs)... Attempt 1
Batch 93 returned 1000 rows.
Batch 93 completed. Total rows saved: 93000
Processing batch 94 (93000 to 94000 IDs)... Attempt 1
Batch 94 returned 1000 rows.
Batch 94 completed. Total rows saved: 94000
Processing batch 95 (94000 to 95000 IDs)... Attempt 1
Batch 95 returned 1000 rows.
Batch 95 completed. Total rows saved: 95000
Processing batch 96 (95000 to 96000 IDs)... Attempt 1
Batch 96 returned 1000 rows.
Batch 96 completed. Total rows saved: 96000
Processing batch 97 (96000 to 97000 IDs)... Attempt 1
Batch 97 returned 1000 rows.
Batch 97 completed. Total rows saved: 97000
Processing batch 98 (97000 to 98000 IDs)... Attempt 1
Batch 98 returned 1000 rows.
Batch 98 completed. Total rows saved: 98000
Processing batch 99 (98000 to 99000 IDs)... Attempt 1
Batch 99 returned 1000 rows.
Batch 99 completed. Total rows saved: 99000
Processing batch 100 (99000 to 100000 IDs)... Attempt 1
Batch 100 returned 1000 rows.
Batch 100 completed. Total rows saved: 100000
Processing batch 101 (100000 to 101000 IDs)... Attempt 1
Batch 101 returned 1000 rows.
Batch 101 completed. Total rows saved: 101000
Processing batch 102 (101000 to 102000 IDs)... Attempt 1
Batch 102 returned 1000 rows.
Batch 102 completed. Total rows saved: 102000
Processing batch 103 (102000 to 103000 IDs)... Attempt 1
Batch 103 returned 1000 rows.
Batch 103 completed. Total rows saved: 103000
Processing batch 104 (103000 to 104000 IDs)... Attempt 1
Batch 104 returned 1000 rows.
Batch 104 completed. Total rows saved: 104000
Processing batch 105 (104000 to 105000 IDs)... Attempt 1
Batch 105 returned 1000 rows.
Batch 105 completed. Total rows saved: 105000
Processing batch 106 (105000 to 106000 IDs)... Attempt 1
Batch 106 returned 1000 rows.
Batch 106 completed. Total rows saved: 106000
Processing batch 107 (106000 to 107000 IDs)... Attempt 1
Batch 107 returned 1000 rows.
Batch 107 completed. Total rows saved: 107000
Processing batch 108 (107000 to 108000 IDs)... Attempt 1
Batch 108 returned 1000 rows.
Batch 108 completed. Total rows saved: 108000
Processing batch 109 (108000 to 109000 IDs)... Attempt 1
Batch 109 returned 1000 rows.
Batch 109 completed. Total rows saved: 109000
Processing batch 110 (109000 to 110000 IDs)... Attempt 1
Batch 110 returned 1000 rows.
Batch 110 completed. Total rows saved: 110000
Processing batch 111 (110000 to 111000 IDs)... Attempt 1
Batch 111 returned 1000 rows.
Batch 111 completed. Total rows saved: 111000
Processing batch 112 (111000 to 112000 IDs)... Attempt 1
Batch 112 returned 1000 rows.
Batch 112 completed. Total rows saved: 112000
Processing batch 113 (112000 to 113000 IDs)... Attempt 1
Batch 113 returned 1000 rows.
Batch 113 completed. Total rows saved: 113000
Processing batch 114 (113000 to 114000 IDs)... Attempt 1
Batch 114 returned 1000 rows.
Batch 114 completed. Total rows saved: 114000
Processing batch 115 (114000 to 115000 IDs)... Attempt 1
Batch 115 returned 1000 rows.
Batch 115 completed. Total rows saved: 115000
Processing batch 116 (115000 to 116000 IDs)... Attempt 1
Batch 116 returned 1000 rows.
Batch 116 completed. Total rows saved: 116000
Processing batch 117 (116000 to 117000 IDs)... Attempt 1
Batch 117 returned 1000 rows.
Batch 117 completed. Total rows saved: 117000
Processing batch 118 (117000 to 118000 IDs)... Attempt 1
Batch 118 returned 1000 rows.
Batch 118 completed. Total rows saved: 118000
Processing batch 119 (118000 to 119000 IDs)... Attempt 1
Batch 119 returned 1000 rows.
Batch 119 completed. Total rows saved: 119000
Processing batch 120 (119000 to 120000 IDs)... Attempt 1
Batch 120 returned 1000 rows.
Batch 120 completed. Total rows saved: 120000
Processing batch 121 (120000 to 121000 IDs)... Attempt 1
Batch 121 returned 1000 rows.
Batch 121 completed. Total rows saved: 121000
Processing batch 122 (121000 to 122000 IDs)... Attempt 1
Batch 122 returned 1000 rows.
Batch 122 completed. Total rows saved: 122000
Processing batch 123 (122000 to 123000 IDs)... Attempt 1
Batch 123 returned 1000 rows.
Batch 123 completed. Total rows saved: 123000
Processing batch 124 (123000 to 124000 IDs)... Attempt 1
Batch 124 returned 1000 rows.
Batch 124 completed. Total rows saved: 124000
Processing batch 125 (124000 to 125000 IDs)... Attempt 1
Batch 125 returned 1000 rows.
Batch 125 completed. Total rows saved: 125000
Processing batch 126 (125000 to 126000 IDs)... Attempt 1
Batch 126 returned 1000 rows.
Batch 126 completed. Total rows saved: 126000
Processing batch 127 (126000 to 127000 IDs)... Attempt 1
Batch 127 returned 1000 rows.
Batch 127 completed. Total rows saved: 127000
Processing batch 128 (127000 to 128000 IDs)... Attempt 1
Batch 128 returned 1000 rows.
Batch 128 completed. Total rows saved: 128000
Processing batch 129 (128000 to 129000 IDs)... Attempt 1
Batch 129 returned 1000 rows.
Batch 129 completed. Total rows saved: 129000
Processing batch 130 (129000 to 130000 IDs)... Attempt 1
Batch 130 returned 1000 rows.
Batch 130 completed. Total rows saved: 130000
Processing batch 131 (130000 to 131000 IDs)... Attempt 1
Batch 131 returned 1000 rows.
Batch 131 completed. Total rows saved: 131000
Processing batch 132 (131000 to 132000 IDs)... Attempt 1
Batch 132 returned 1000 rows.
Batch 132 completed. Total rows saved: 132000
Processing batch 133 (132000 to 133000 IDs)... Attempt 1
Batch 133 returned 1000 rows.
Batch 133 completed. Total rows saved: 133000
Processing batch 134 (133000 to 134000 IDs)... Attempt 1
Batch 134 returned 756 rows.
Batch 134 completed. Total rows saved: 133756
Reprocessing failed batches...
All processing completed.

In [23]:
combined_results

                  SOURCE_ID  phot_bp_mean_flux  phot_rp_mean_flux
0            88751204298752          97.302780          80.055475
1           190009353405440         119.288407          95.199147
2          5054111356737024         118.767233         183.231920
3         96986889894275200          57.062729          85.158148
4        100503746555005056          82.720489          72.286897
...                     ...                ...                ...
133751  5180145968212943744         563.933805         623.663854
133752  5186193389540051200          88.635141          93.043727
133753  5186205720391038336          78.457424          86.174115
133754  6898156118091837056          94.715035         125.106882
133755  6913378165089509760          94.442299         116.130014

[133756 rows x 3 columns]

In [24]:
# Merge the DataFrames on the SOURCE_ID column
final_results_df = merged_results_df.merge(
    combined_results,
    on="SOURCE_ID",  # Join on SOURCE_ID
    how="inner"  # Use inner join to keep only matching rows
)

# Print the number of rows and a preview
print(f"Joined DataFrame has {len(final_results_df)} rows.")
print(final_results_df.head())

Joined DataFrame has 133756 rows.
             bestObjID  plate    mjd  fiberid  flux_ratio  \
0  1237663784201486401   7868  57006      816    2.177181
1  1237665548902859021   2202  53566      290    2.016669
2  1237654380901957961   7512  56777      134    1.728434
3  1237655693011845153    918  52404      515    1.013675
4  1237667322185580645   2236  53729        1    0.747908

             SOURCE_ID  phot_bp_mean_flux  phot_rp_mean_flux
0  2543193557806316800         771.161658         812.454893
1  4463606678617356800         230.410150         216.745479
2  1014204471947028992          59.991009          88.311689
3  3652568217199181440         350.539988         705.208239
4  3961435288437544320         114.175541         260.146202

In [25]:
# Ensure the required columns exist
if 'phot_bp_mean_flux' in final_results_df.columns and 'phot_rp_mean_flux' in final_results_df.columns:
    # Calculate the photometric flux ratio
    final_results_df['photometric_flux_ratio'] = (
        final_results_df['phot_bp_mean_flux'] / final_results_df['phot_rp_mean_flux']
    )
    
    # Handle cases where grp_flux is zero to avoid division by zero errors
    final_results_df['photometric_flux_ratio'] = final_results_df['photometric_flux_ratio'].replace([np.inf, -np.inf], np.nan)
    
    print("Photometric flux ratio calculated and added to the DataFrame.")
else:
    print("Required columns 'phot_bp_mean_flux' and 'phot_rp_mean_flux' are missing.")

# Save the updated DataFrame
final_results_df.to_csv("/home/thara/Big/final_results.csv", index=False)

# Preview the updated DataFrame
final_results_df

Photometric flux ratio calculated and added to the DataFrame.

,bestObjID,plate,mjd,fiberid,flux_ratio,SOURCE_ID,phot_bp_mean_flux,phot_rp_mean_flux,photometric_flux_ratio
0,1237663784201486401,7868,57006,816,2.177181,2543193557806316800,771.161658,812.454893,0.949175
1,1237665548902859021,2202,53566,290,2.016669,4463606678617356800,230.410150,216.745479,1.063045
2,1237654380901957961,7512,56777,134,1.728434,1014204471947028992,59.991009,88.311689,0.679310
3,1237655693011845153,918,52404,515,1.013675,3652568217199181440,350.539988,705.208239,0.497073
4,1237667322185580645,2236,53729,1,0.747908,3961435288437544320,114.175541,260.146202,0.438890
...,...,...,...,...,...,...,...,...,...
133751,1237680273108960003,7572,56944,710,1.510391,1779912581508627072,98.424982,43.140794,2.281483
133752,1237680285996155390,6265,56248,512,1.797892,309194386402373120,48.999154,76.712520,0.638737
133753,1237680303715582376,6295,56536,434,0.798917,1883704073988238336,103.721589,334.565475,0.310019
133754,1237680308016841309,6515,56536,932,1.233320,2866659811294043904,164.762430,69.931613,2.356051
133755,1237680327333381385,5960,56097,436,1.524748,1799404173890542080,66.071696,78.717817,0.839349

Now we will proceed to the analysis of the data.